/* ----------mobile responsive ---------- */
@media screen and (max-width: 776px) {
    header {
        max-width: 100%;
    }

    .nav-items {
        gap: 0rem;
        max-width: 100%;
    }

    .nav-items ul li {
        display: none;
    }

    .banner {
        max-width: 100%;
        flex-direction: column-reverse;
        margin: 0;
    }

    .banner-text-container {
        max-width: 100%;
        padding: 1rem 2rem;
    }

    .banner-img-container img {
        max-width: 100%;
    }

    .always,
    .fresh {
        display: none;
    }

    /* ---------plants section---------------- */
    .plants-container {
        width: 100%;
        padding: 1rem;
    }

    .plants-cards {
        margin: 1rem 2rem;
        grid-template-columns: repeat(2, 1fr);
    }

    /* ------------------- lover section------------------  */
    .lover {
        width: 90%;
        margin: 0 auto;
        margin-top: 3rem;
        flex-direction: column;
    }

    .trusted {
        display: none;
    }

    /* -----deal section ----------------- */
    .deal-text-container {
        padding: 1rem;

    }

    .deal-cards-container {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        margin: 0 auto;
    }

    /* ------------joun section ------------ */
    .join-input input {
        width: 300px;
    }

    .join-input label {
        padding: 22px 16px;
    }

    /* -----footer section ------------ */
    .footer-container {
        flex-direction: column;
        margin: 2rem;
    }

    .f-navbar {
        flex-direction: column;
    }

    .f-icons ul {
        flex-direction: row;
        margin-top: 2rem;
    }
}